@model PurchaseBudgetViewModel

<div class="formcontainer">
    <div class="tableheadline">
        Indkøbsbudget
    </div>


    <form id="budgetform" method="post">
        <div class="row">
            <div class="col-2">
                <div class="input-select-room-for-icon">
                    <label asp-for="@Model.Description">Beskrivelse</label>
                    <input asp-for="@Model.Description" id="budgetdescription"  />
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="input-select-room-for-icon">
                    <label asp-for="@Model.Period">Periode</label>
                    <select asp-for="@Model.Period" asp-items="@Model.SelectPeriod" id="period" class="custom-select"></select>
                    <span asp-validation-for="@Model.Period" class="text-danger"></span>
                </div>
            </div>
            <div id="divperiodfromdatepicker" class="col-2">
                <div class="input-icons">
                    <label for="periodfromdatepicker">Fra dato</label>
                    <i style="color : #17a2b8;" class="fa fa-calendar icon"></i>
                    <input asp-for="@Model.PeriodFromDate" autocomplete="off" class="datepicker-input-field" id="periodfromdatepicker" />
                    <span asp-validation-for="@Model.PeriodFromDate" class="text-danger"></span>
                </div>
                <div class="icon-beside-input-datepicker">
                    <i id="resetperiodfromdate" class="fa fa-times"></i>
                </div>
            </div>
            <div id="divperiodtodatepicker" class="col-2">
                <div class="input-icons">
                    <label for="periodtodatepicker">Til dato</label>
                    <i style="color : #17a2b8;" class="fa fa-calendar icon"></i>
                    <input asp-for="@Model.PeriodToDate" autocomplete="off" class="datepicker-input-field" id="periodtodatepicker" />
                    <span asp-validation-for="@Model.PeriodToDate" class="text-danger"></span>
                </div>
                <div class="icon-beside-input-datepicker">
                    <i id="resetperiodtodate" class="fa fa-times"></i>
                </div>
            </div>
            <div id="buttoncreatebudget" class="col-2">
                <button type="submit" class="btn btn-info btn-lg">Gem</button>
            </div>
        </div>
    </form>


</div>

@section Scripts {
    <script>
        $(document).ready(function () {

           
            if ($('#period').val() == "0") {
                $('#divperiodfromdatepicker').hide();
            }

            if ($('#period').val() != "6") {
                $('#divperiodtodatepicker').hide();
            }
          




            $('#period').bind('change', function () {
                var period = $(this).val();
                switch (period) {
                    case "0":
                        $('#divperiodfromdatepicker').hide();
                        $('#divperiodtodatepicker').hide();
                        break;

                    case "1":                       
                    case "2":
                    case "3":
                    case "4":
                    case "5":
                        $('#divperiodtodatepicker').hide();
                        $('#divperiodfromdatepicker').show();
                        break; 
                    
                    case "6":
                        $('#divperiodfromdatepicker').show();
                        $('#divperiodtodatepicker').show();
                        break;
                }
            });

            $("#periodfromdatepicker").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-Y'
            });

            $("#periodtodatepicker").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-Y'
            });

            $(document).on("click", ".fa-times", function (event) {
                var resetFieldId = $(this).attr("id");
                switch (resetFieldId) {
                    case "resetperiodfromdate":
                        $('#periodfromdatepicker').val("");
                        break;
                    case "resetperiodtodate":
                        $('#periodtodatepicker').val("");
                        break;                   
                }
            });

        });


    </script>
}