
@model PurchaseOrderViewModel

<div class="formcontainer">
    <div class="form-group form-group-sm tableheadline">
        Indkøbsordre
    </div>
    <div class="row">
        <form method="post">
            <div class="form-group col-md-4">

                <label for="selectvendor">Leverandør</label>
                <select id="selectvendor" name="selectvendor" class="custom-select">
                </select>
                <input asp-for="@Model.VendorId" id="vendorid" class="form-control" />

                <label asp-for="@Model.VendorName">Navn</label>
                <input asp-for="@Model.VendorName" id="vendorname" class="form-control" />
                <span asp-validation-for="@Model.VendorName" class="text-danger"></span>

                <label asp-for="@Model.VendorStreet">Adresse</label>
                <input asp-for="@Model.VendorStreet" id="vendorstreet" class="form-control" />
                <span asp-validation-for="@Model.VendorStreet" class="text-danger"></span>

                <label asp-for="@Model.VendorZip">Postnummer</label>
                <input asp-for="@Model.VendorZip" id="vendorzip" class="form-control" />
                <span asp-validation-for="@Model.VendorZip" class="text-danger"></span>

                <label asp-for="@Model.VendorCity">By</label>
                <input asp-for="@Model.VendorCity" id="vendorcity" class="form-control" />
                <span asp-validation-for="@Model.VendorCity" class="text-danger"></span>

                <label asp-for="@Model.VendorCountryCode">Landekode</label>
                <input asp-for="@Model.VendorCountryCode" id="vendorcountrycode" class="form-control" />
                <span asp-validation-for="@Model.VendorCountryCode" class="text-danger"></span>


                <label asp-for="@Model.VendorPhoneNumber">Telefon</label>
                <input asp-for="@Model.VendorPhoneNumber" id="vendorphonenumber" class="form-control" />
                <span asp-validation-for="@Model.VendorPhoneNumber" class="text-danger"></span>


                <label asp-for="@Model.VendorEmail">Email</label>
                <input asp-for="@Model.VendorEmail" id="vendoremail" class="form-control" />
                <span asp-validation-for="@Model.VendorEmail" class="text-danger"></span>

                <label for="selectcurrency">Valuta</label>
                <select id="selectcurrency" name="selectcurrency" class="custom-select">
                </select>
                <input asp-for="@Model.VendorCurrencyCode" id="vendorcurrencycode" class="form-control" />
                <button type="submit" class="btn btn-yahoo btn-sm">Gem</button>


            </div>
            <div class="col-md-4">
                <label asp-for="@Model.VendorPaymentConditionId" class="control-label">Betalingsbetingelser</label>
                <select id="selectpaymentcondition" asp-for="@Model.VendorPaymentConditionId"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<EnumPaymentConditions>()">
                    <option>Vælg betingelser ...</option>
                </select>
                <span asp-validation-for="@Model.VendorPaymentConditionId" class="text-danger"></span>

                <label asp-for="@Model.VendorReference">Leverandørs ref.</label>
                <input asp-for="@Model.VendorReference" id="vendorreference" class="form-control" />
                <span asp-validation-for="@Model.VendorReference" class="text-danger"></span>

                <label asp-for="@Model.VendorReference">Leverandørs ref.</label>
                <input asp-for="@Model.VendorReference" id="vendorreference" class="form-control" />
                <span asp-validation-for="@Model.VendorReference" class="text-danger"></span>

                <label asp-for="@Model.OurReference">Vores ref.</label>
                <input asp-for="@Model.OurReference" id="vendorreference" class="form-control" />
                <span asp-validation-for="@Model.OurReference" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Col 3
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            getCurrencies();
            getAllVendors();


            $('#selectvendor').bind('change', function () {
                var vendorId = $(this).val();
                $('#vendorid').val(vendorId);
                getVendorById(vendorId);
            });


            $('#selectcurrency').bind('change', function () {
                var currencyCode = $(this).val();
                $('#vendorcurrencycode').val(currencyCode);
            });


        });




        function getVendorById(vendorId) {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getVendorById",
                data: 'id=' + vendorId,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#vendorname').val(result.vendorName);
                    $('#vendorstreet').val(result.street);
                    $('#vendorzip').val(result.zip);
                    $('#vendorcity').val(result.city);
                    $('#vendorcountrycode').val(result.countryCode);
                    $('#vendorphonenumber').val(result.phoneNumber);
                    $('#vendoremail').val(result.vendorEmail);
                    $('#vendorcurrencycode').val(result.currencyCode);
                    $('#selectcurrency').val(result.currencyCode);
                    $('#selectpaymentcondition').val(result.vendorPaymentConditionsId);
                    

                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getAllVendors() {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getAllVendors",
                data: 'id=' + "All",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $('#selectvendor').html("");

                    $("<option/>", {
                        value: "0",
                        text: "<Vælg leverandør>"

                    }).appendTo("#selectvendor");

                    $.each(result, function (i, data) {
                        $("<option/>", {
                            value: data.id,
                            text: data.vendorName

                        }).appendTo("#selectvendor");
                    });

                    $('#selectvendor').val("0");
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });

        }

        function getCurrencies() {
            $.ajax({
                type: "GET",
                url: "/purchaseorder/getCurrencies",
                dataType: "json",
                success: function (result) {

                    $('#selectcurrency').html("");

                    $("<option/>", {
                        value: "0",
                        text: "<Vælg valuta>"

                    }).appendTo("#selectcurrency");

                    $.each(result, function (i, data) {
                        $("<option/>", {
                            value: data.id,
                            text: data.id + "-" + data.description

                        }).appendTo("#selectcurrency");
                    });

                    $('#selectcurrency').val("0");
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });

        }



    </script>
}