
@model PurchaseOrderViewModel

<div class="formcontainer">
    <div style="color : #17a2b8;" class="tableheadline">
        Indkøbsordre nr. @Model.PurchaseOrderDocumentNumber
    </div>
    <br />
    <div class="row">
        <div class="col-12">

            <!-- Modal -->
            <div class="modal fade" id="modalorderlinesfrombudget" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><i style="color : #17a2b8;" class="fa fa fa-window-close fa-2x fa-fw"></i></button>
                            <div style="color : #17a2b8;" class="modal-title tableheadline">Ordrelinje</div>
                        </div>
                        <div class="modal-body">

                            <div class="row budgetheadlinesHeaders">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-3">Fra</div>
                                        <div class="col-3">Til</div>
                                        <div class="col-3">Periode</div>
                                        <div class="col-3">Beskrivelse</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 budgetscontainerdiv" id="budgetscontainer">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-5">Fra</div>
                                        <div class="col-5">Til</div>
                                        <div class="col-2">Uge</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 budgetPeriodscontainerdiv" id="budgetperiodscontainer">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8 budgetperiodlinescontainer" id="budgetperiodlinescontainer">

                                </div>
                                
                            </div>

                            <div class="modal-footer">
                                <button type="button" id="Btnmodalorderlinesfrombudget" class="btn btn-info btn-lg">Luk</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        <input asp-for="@Model.PurchaseOrderId" id="purchaseorderid" type="hidden" />
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <label>Leverandør</label>
                        <select id="selectvendor" name="selectvendor" class="custom-select PurchaseOrderInput">
                        </select>
                        <input asp-for="@Model.VendorId" id="vendorid" type="hidden" />
                        <span asp-validation-for="@Model.VendorId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label>Leverandør</label>
                        <input asp-for="@Model.VendorName" id="vendorname" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorstreet">Adresse</label>
                        <input asp-for="@Model.VendorStreet" id="vendorstreet" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorStreet" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorzip">Postnummer</label>
                        <input asp-for="@Model.VendorZip" id="vendorzip" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorZip" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorcity">By</label>
                        <input asp-for="@Model.VendorCity" id="vendorcity" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorCity" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorcountrycode">Landekode</label>
                        <input asp-for="@Model.VendorCountryCode" id="vendorcountrycode" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorCountryCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorphonenumber">Telefon</label>
                        <input asp-for="@Model.VendorPhoneNumber" id="vendorphonenumber" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorPhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="class">Email</label>
                        <input asp-for="@Model.VendorEmail" id="vendoremail" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorEmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        @if (Model.AttachedmentIds != null)
                        {
                            List<string> ExistingAttachedmentList = Model.AttachedmentIds.Split(",").ToList();
                            List<string> ExistingAttachedFilesNameAndPathList = Model.IconsFilePathAndName.Split(",").ToList();
                            List<string> ExistingFileNamesOnlyList = Model.FileNamesOnly.Split(",").ToList();
                            List<string> ExistingAttachedFilesTypeIconPathList = Model.IconsFilePathAndName.Split(",").ToList();
                            var index = 0;
                            foreach (var ExistingAttachedmentId in ExistingAttachedmentList)
                            {
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <img src="@ExistingAttachedFilesTypeIconPathList[index]" height="42" width="42" />
                                    </div>
                                    <div class="col-sm-10">
                                        <a asp-controller="Note" asp-action="openAttachment" asp-route-id="@ExistingAttachedmentId">Se ordre</a>
                                    </div>
                                    <div class="col-sm-10">
                                        <a asp-controller="Note" asp-action="downloadAttachment" asp-route-id="@ExistingAttachedmentId">Gem ordre på disk</a>
                                    </div>
                                    <div class="col-sm-10">
                                        <a asp-controller="PurchaseOrder" asp-action="deleteAttachment" asp-route-id="@ExistingAttachedmentId">Slet ordrebilag</a>
                                    </div>
                                </div>
                                index++;
                            }
                        }
                    </div>
                </div>




            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <label for="selectcurrency">Valuta</label>
                        <select id="selectcurrency" name="selectcurrency" class="custom-select PurchaseOrderInput">
                        </select>
                        <input asp-for="@Model.VendorCurrencyCode" id="vendorcurrencycode" class="PurchaseOrderInput" type="hidden" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="selectpaymentcondition">Betalingsbetingelser</label>
                        <select id="selectpaymentcondition" name="selectpaymentcondition" class="custom-select PurchaseOrderInput">
                        </select>
                        <input asp-for="@Model.VendorPaymentConditionId" id="vendorpaymentconditionid" type="hidden" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="selectdeliverycondition">Leveringsbetingelser</label>
                        <select id="selectdeliverycondition" name="selectdeliverycondition" class="custom-select PurchaseOrderInput">
                        </select>
                        <input asp-for="@Model.VendorDeliveryConditionId" id="vendordeliveryconditionid" type="hidden" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorreference"> Leverandørs ref.</label>
                        <input asp-for="@Model.VendorReference" id="vendorreference" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.VendorReference" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="vendorreference">Vores ref.</label>
                        <input asp-for="@Model.OurReference" id="vendorreference" class="PurchaseOrderInput" />
                        <span asp-validation-for="@Model.OurReference" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="input-icons">
                            <label for="wanteddeliverydatepicker">Ønsket leveringsdato</label>
                            <i style="color : #17a2b8;" class="fa fa-calendar icon"></i>
                            <input asp-for="@Model.OurWantedDeliveryDate" id="wanteddeliverydatepicker" class="datepicker-input-field" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-icons">
                            <label for="ourorderingdatepicker">Bestillingsdato</label>
                            <i style="color : #17a2b8;" class="fa fa-calendar icon"></i>
                            <input asp-for="@Model.OurOrderingDate" id="ourorderingdatepicker" class="datepicker-input-field" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Notat til leverandør</label>
                        @Html.TextArea("Note", null, new { @class = "PurchaseOrderTextarea" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-info btn-lg">Gem</button>
                        <a asp-controller="PurchaseOrder" asp-action="sendPurchaseOrder" asp-route-purchaseOrderId="@Model.PurchaseOrderId" class="btn btn-info btn-lg">Send ordre</a>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="row">
                    <!-- Trigger the modal with a button -->
                    <button id="btnOrderLine" type="button" class="btn btn-info btn-lg">Tilføj ordrelinje</button>
                    <button id="btnOrderLineFromBudget" type="button" class="btn btn-info btn-lg">Tilføj ordrelinje fra budget</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><i style="color : #17a2b8;" class="fa fa fa-window-close fa-2x fa-fw"></i></button>
                                    <div style="color : #17a2b8;" class="modal-title tableheadline">Ordrelinje</div>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="itemNameSuggest">Vare</label>
                                            <input name="itemNameSuggest" id="itemNameSuggest" class="PurchaseOrderInput" />
                                            <input name="stockitemid" id="stockitemid" type="hidden" />
                                            <input name="purchaseorderlineid" id="purchaseorderlineid" type="hidden" />
                                            <input id="ouritemname" class="PurchaseOrderInput" type="hidden" />
                                        </div>
                                        <div class="col-2">
                                            <label for="ouritemnumber">Varenummer</label>
                                            <input id="ouritemnumber" class="PurchaseOrderInput" />
                                        </div>
                                        <div class="col-2">
                                            <label for="quantitytoorder">Antal</label>
                                            <input id="quantitytoorder" class="PurchaseOrderInput" />
                                        </div>
                                        <div class="col-2">
                                            <label for="ouritemunit">Enheder</label>
                                            <input id="ouritemunit" class="PurchaseOrderInput" />
                                        </div>
                                        <div class="col-2">
                                            <label for="ourlocation">Lokation</label>
                                            <input id="ourlocation" class="PurchaseOrderInput" />
                                        </div>
                                        <div class="col-2">
                                            <label for="ourcostprice">Enhedspris</label>
                                            <input id="ourcostprice" class="PurchaseOrderInput" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="vendoritemnumber">Leverandørens varenummer</label>
                                            <input id="vendoritemnumber" class="PurchaseOrderInput" />
                                        </div>
                                        <div class="col-2">
                                            <label for="vendoritemname">Leverandørens varenummer</label>
                                            <input id="vendoritemname" class="PurchaseOrderInput" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="saveorderline" class="btn btn-info btn-lg">Gem</button>
                                        <button type="button" id="BtnCloseOrderLine" class="btn btn-info btn-lg">Luk</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="orderlinescontainer" class="col-12">

                    </div>
                </div>
            </div>
    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            getCurrencies();
            getAllVendors();
            getPaymentConditions();
            getDeliveryConditions();

            var purchaseOrderId = $('#purchaseorderid').val();
            getOrderLinesByPurchaseOrderId(purchaseOrderId)




            $('#btnOrderLine').bind('click', function () {
                var purchaseOrderId = $('#purchaseorderid').val()
                if (purchaseOrderId == "") {
                    alert("no no");
                    return;
                }


                $('#purchaseorderlineid').val("");
                $('#stockitemid').val("");
                $('#itemNameSuggest').val("");

                $('#ourcostprice').val("");
                $('#ouritemunit').val("");
                $('#ourlocation').val("");
                $('#ouritemnumber').val("");
                $('#ouritemname').val("");
                $('#quantitytoorder').val("1,00");

                $('#vendoritemnumber').val("");
                $('#vendoritemname').val("");
                $("#myModal").modal('show');
            });

            $('#BtnCloseOrderLine').bind('click', function () {
                $("#myModal").modal('hide');
            });

            $('#btnOrderLineFromBudget').bind('click', function () {
                getAllbudgets();
                $("#modalorderlinesfrombudget").modal('show');
            });

            $('#Btnmodalorderlinesfrombudget').bind('click', function () {
                $("#modalorderlinesfrombudget").modal('hide');
            });

            $('#selectvendor').bind('change', function () {
                var vendorId = $(this).val();
                $('#vendorid').val(vendorId);
                getVendorById(vendorId);
            });


            $('#selectcurrency').bind('change', function () {
                var currencyCode = $(this).val();
                $('#vendorcurrencycode').val(currencyCode);
            });

            $('#selectpaymentcondition').bind('change', function () {
                var vendorPaymentConditionId = $(this).val();
                $('#vendorpaymentconditionid').val(vendorPaymentConditionId);
            });

            $('#selectdeliverycondition').bind('change', function () {
                var vendorDeliveryConditionId = $(this).val();
                $('#vendordeliveryconditionid').val(vendorDeliveryConditionId);
            });

            $('#saveorderline').bind('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/purchaseorder/saveOrderLine",
                    data: {
                        id: $('#purchaseorderlineid').val(),
                        stockItemId: $('#stockitemid').val(),
                        ourItemNumber: $('#ouritemnumber').val(),
                        ourItemName: $('#ouritemname').val(),
                        ourCostPrice: $('#ourcostprice').val(),
                        ourItemUnit: $('#ouritemunit').val(),
                        ourLocation: $('#ourlocation').val(),
                        vendorItemNumber: $('#vendoritemnumber').val(),
                        vendorItemName: $('#vendoritemname').val(),
                        quantityToOrder: $('#quantitytoorder').val(),
                        purchaseOrderId: $('#purchaseorderid').val()
                    },
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    dataType: "json",
                    success: function (result) {

                        $('#purchaseorderlineid').val("");
                        $('#stockitemid').val("");
                        $('#itemNameSuggest').val("");

                        $('#ourcostprice').val("");
                        $('#ouritemunit').val("");
                        $('#ourlocation').val("");
                        $('#ouritemnumber').val("");
                        $('#ouritemname').val("");
                        $('#quantitytoorder').val("1,00");

                        $('#vendoritemnumber').val("");
                        $('#vendoritemname').val("");
                        $("#myModal").modal('show');

                        var purchaseOrderId = $('#purchaseorderid').val();
                        getOrderLinesByPurchaseOrderId(purchaseOrderId)
                    },

                    error: function (request, status, error) {
                        var jsonErrorObj = request.responseJSON
                        var errorText = jsonErrorObj.Detail;
                        var errorTitle = jsonErrorObj.Title;
                        var errorInstance = jsonErrorObj.Instance;
                        location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                    }
                });
            });


            $("#ourorderingdatepicker").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-Y'
            });


            $("#wanteddeliverydatepicker").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-Y'
            });

            $("#itemNameSuggest").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/stockitem/searchstockItemByNameAndVendor',
                        data: { term: request.term, vendorId: $('#vendorid').val() },
                        success: function (data) {
                            response(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            var jsonErrorObj = jqXHR.responseJSON
                            var errorText = jsonErrorObj.Detail;
                            var errorTitle = jsonErrorObj.Title;
                            var errorInstance = jsonErrorObj.Instance;
                            location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                        },
                        dataType: 'json'
                    });
                },
                select: function (event, ui) {
                    $("#stockitemid").val(ui.item.stockItemId);
                    $("#itemNameSuggest").val(ui.item.label);
                    $("#ouritemname").val(ui.item.label);

                    var stockItemId = $("#stockitemid").val();
                    getStockItemById(stockItemId)
                },
                minLength: 1
            });
        });


        function getStockItemById(stockItemId) {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getStockItemById",
                data: 'id=' + stockItemId,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#ourcostprice').val(result.ourCostPrice);
                    $('#ouritemunit').val(result.ourItemUnit);
                    $('#ourlocation').val(result.ourLocation);
                    $('#ouritemnumber').val(result.ourItemNumber);
                    $('#quantitytoorder').val("1,00");

                    $('#vendoritemnumber').val(result.vendorItemNumber);
                    $('#vendoritemname').val(result.vendorItemName);


                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getVendorById(vendorId) {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getVendorById",
                data: 'id=' + vendorId,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#vendorname').val(result.vendorName);
                    $('#vendorstreet').val(result.street);
                    $('#vendorzip').val(result.zip);
                    $('#vendorcity').val(result.city);
                    $('#vendorcountrycode').val(result.countryCode);
                    $('#vendorphonenumber').val(result.phoneNumber);
                    $('#vendoremail').val(result.vendorEmail);
                    $('#vendorcurrencycode').val(result.currencyCode);
                    $('#selectcurrency').val(result.currencyCode);

                    $('#selectpaymentcondition').val(result.vendorPaymentConditionsId);
                    $('#selectdeliverycondition').val(result.vendorDeliveryConditionsId);

                    $('#vendordeliveryconditionid').val(result.vendorDeliveryConditionsId);
                    $('#vendorpaymentconditionid').val(result.vendorPaymentConditionsId);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getAllVendors() {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getAllVendors",
                data: 'id=' + "All",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $('#selectvendor').html("");

                    $("<option/>", {
                        value: "0",
                        text: "<Vælg leverandør>"

                    }).appendTo("#selectvendor");

                    $.each(result, function (i, data) {
                        $("<option/>", {
                            value: data.id,
                            text: data.vendorName

                        }).appendTo("#selectvendor");
                    });

                    var vendorId = $('#vendorid').val();
                    $('#selectvendor').val(vendorId);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });

        }

        function getCurrencies() {
            $.ajax({
                type: "GET",
                url: "/purchaseorder/getCurrencies",
                dataType: "json",
                success: function (result) {

                    $('#selectcurrency').html("");

                    $("<option/>", {
                        value: "0",
                        text: "<Vælg valuta>"

                    }).appendTo("#selectcurrency");

                    $.each(result, function (i, data) {
                        $("<option/>", {
                            value: data.id,
                            text: data.id + "-" + data.description

                        }).appendTo("#selectcurrency");
                    });

                    var currencyCode = $('#vendorcurrencycode').val();
                    $('#selectcurrency').val(currencyCode);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });

        }


        function getPaymentConditions() {
            $.ajax({
                type: "GET",
                url: "/vendor/getPaymentConditions",
                dataType: "json",
                success: function (result) {

                    $('#selectpaymentcondition').html("");

                    $("<option/>", {
                        value: "0",
                        text: "<Vælg betalingsbetingelse>"

                    }).appendTo("#selectpaymentcondition");

                    $.each(result, function (i, data) {
                        $("<option/>", {
                            value: data.value,
                            text: data.label
                        }).appendTo("#selectpaymentcondition");
                    });

                    var paymentConditionId = $('#vendorpaymentconditionid').val();
                    $('#selectpaymentcondition').val(paymentConditionId);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });

        }

        function getDeliveryConditions() {
            $.ajax({
                type: "GET",
                url: "/vendor/getDeliveryConditions",
                dataType: "json",
                success: function (result) {

                    $('#selectdeliverycondition').html("");

                    $("<option/>", {
                        value: "0",
                        text: "<Vælg leveringsbetingelse>"

                    }).appendTo("#selectdeliverycondition");

                    $.each(result, function (i, data) {
                        $("<option/>", {
                            value: data.value,
                            text: data.label
                        }).appendTo("#selectdeliverycondition");
                    });

                    var deliveryConditionId = $('#vendordeliveryconditionid').val();
                    $('#selectdeliverycondition').val(deliveryConditionId);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });

        }

        function getOrderLinesByPurchaseOrderId(purchaseOrderId) {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getOrderLines",
                data: 'purchaseOrderId=' + purchaseOrderId,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $("#orderlinescontainer").html("");
                    var HTMLstring = "";

                    // HTMLstring = HTMLstring + '<div class="">';
                    HTMLstring = HTMLstring + '<div class="row orderlineheadlines">'
                    HTMLstring = HTMLstring + '<div class="col-3">' + 'Vare: ' + '</div>';
                    HTMLstring = HTMLstring + '<div class="col-3">' + 'Varenummer: ' + '</div>';
                    HTMLstring = HTMLstring + '<div class="col-1">' + 'Antal: ' + '</div>';
                    HTMLstring = HTMLstring + '<div class="col-2">' + 'Pris: ' + '</div>';
                    HTMLstring = HTMLstring + '<div class="col-2">' + 'Ialt: ' + '</div>';
                    HTMLstring = HTMLstring + '<div class="col-1"></div>';
                    HTMLstring = HTMLstring + '</div>' // end of '<div class="row">'
                    // HTMLstring = HTMLstring + '</div>'      // end of '<div id="' + '" class="orderline">';

                    $.each(result, function (i, data) {

                        HTMLstring = HTMLstring + '<div class="row orderline" id="' + data.id + '">';

                        HTMLstring = HTMLstring + '<div class="col-3">' + data.ourItemName + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-3">' + data.ourItemNumber + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-1">' + data.quantityToOrder + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-2">' + data.ourCostPrice + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-2">' + data.orderLineTotalAmount + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-1 orderlinedelete">' + 'Slet' + '</div>';


                        HTMLstring = HTMLstring + '</div>'      // end of '<div class="row">'
                        //  HTMLstring = HTMLstring + '</div>'      // end of '<div id="' + data.id + '" class="orderline">'
                    });



                    $("#orderlinescontainer").append(HTMLstring);

                    $(document).on("click", ".orderline", function (event) {
                        var orderLineId = $(this).attr("id");
                        $("#myModal").modal('show');
                        getOrderLineById(orderLineId);
                        event.stopImmediatePropagation()
                    });

                    $(document).on("click", ".orderlinedelete", function (event) {
                        var orderLineId = $(this).parent().attr("id");
                        deleteOrderLineById(orderLineId);
                        event.stopImmediatePropagation();
                    });
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getOrderLineById(orderLineId) {
            $.ajax({
                type: "POST",
                url: "/purchaseorder/getOrderLineById",
                data: 'orderLineId=' + orderLineId,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $('#purchaseorderlineid').val(result.id);
                    $('#stockitemid').val(result.stockItemId);

                    $('#itemNameSuggest').val(result.ourItemName);
                    $('#ouritemname').val(result.ourItemName);
                    $('#ourcostprice').val(result.ourCostPrice);
                    $('#ouritemunit').val(result.ourItemUnit);
                    $('#ourlocation').val(result.ourLocation);
                    $('#ouritemnumber').val(result.ourItemNumber);
                    $('#quantitytoorder').val(result.quantityToOrder);

                    $('#vendoritemnumber').val(result.vendorItemNumber);
                    $('#vendoritemname').val(result.vendorItemName);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function deleteOrderLineById(orderLineId) {

            var purchaseOrderId = $('#purchaseorderid').val();

            $.ajax({
                type: "POST",
                url: "/purchaseorder/deleteOrderLineById",
                data: 'orderLineId=' + orderLineId + '&purchaseOrderId=' + purchaseOrderId,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    getOrderLinesByPurchaseOrderId(purchaseOrderId);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getAllbudgets() {
            $.ajax({
                type: "GET",
                url: "/purchaseorder/getAllbudgets",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $("#budgetscontainer").html("");
                    var HTMLstring = "";

                    $.each(result, function (i, data) {

                        HTMLstring = HTMLstring + '<div class="row budgetheadlines" id="' + data.id + '">';

                        HTMLstring = HTMLstring + '<div class="col-3">' + data.periodFromDate + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-3">' + data.periodToDate + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-3">' + data.period + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-3">' + data.description + '</div>';

                        HTMLstring = HTMLstring + '</div>'      // end of '<div class="row">'

                    });

                    $("#budgetscontainer").append(HTMLstring);
                 
                    $(document).on("click", ".budgetheadlines", function (event) {
                        var purchaseBudgetId = $(this).attr("id");

                        getBudgetPeriodLines(purchaseBudgetId);
                        event.stopImmediatePropagation()
                    });


                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getBudgetPeriodLines(purchaseBudgetId) {
            $.ajax({
                type: "GET",
                url: "/purchaseorder/getBudgetPeriods",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: 'purchaseBudgetId=' + purchaseBudgetId,
                dataType: "json",
                success: function (result) {

                    $("#budgetperiodscontainer").html("");
                    var HTMLstring = "";

                    $.each(result, function (i, data) {

                        HTMLstring = HTMLstring + '<div class="row budgeperiodline" id="' + data.id + '">';

                        HTMLstring = HTMLstring + '<div class="col-5">' + data.displayPeriodStartText + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-5">' + data.displayPeriodEndText + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-2">' + data.displayWeekNumber + '</div>';

                        HTMLstring = HTMLstring + '</div>'      // end of '<div class="row">'

                    });


                    $("#budgetperiodscontainer").append(HTMLstring);

                    $(document).on("click", ".budgeperiodline", function (event) {
                        var budgetHeaderLineId = $(this).attr("id");

                        event.stopImmediatePropagation()
                    });


                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function getBudgetPeriodItemLines(purchaseBudgetId, purchasePeriodId) {
            $.ajax({
                type: "GET",
                url: "/purchaseorder/getBudgetPeriodItemLines",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: 'purchaseBudgetId=' + purchaseBudgetId + "&purchasePeriodId=" + purchasePeriodId,
                dataType: "json",
                success: function (result) {

                    $("#budgetperiodlinescontainer").html("");
                    var HTMLstring = "";

                    $.each(result, function (i, data) {

                        HTMLstring = HTMLstring + '<div class="row budgeperioditemline" id="' + data.id + '">';

                        HTMLstring = HTMLstring + '<div class="col-5">' + data.displayPeriodStartText + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-5">' + data.displayPeriodEndText + '</div>';
                        HTMLstring = HTMLstring + '<div class="col-2">' + data.displayWeekNumber + '</div>';

                        HTMLstring = HTMLstring + '</div>'      // end of '<div class="row">'

                    });


                    $("#budgetperiodlinescontainer").append(HTMLstring);

                    $(document).on("click", ".budgeperioditemline", function (event) {
                        var budgetHeaderLineId = $(this).attr("id");

                        event.stopImmediatePropagation()
                    });


                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

    </script>
}
