@model PurchaseBudgetEditViewModel

<div class="formcontainer">
    <div class="tableheadline">
        Indkøbsbudget
    </div>

    <div class="row">
        <div class="col-12">
            <form id="searchForm" asp-controller="PurchaseOrder" asp-action="EditPurchaseBudget" method="get">
                <input asp-for="@Model.PurchaseBudgetId" hidden id="PurchaseBudgetId" />
                <div class="form-row">
                    <div class="col-2">
                        <div class="input-select-room-for-icon">
                            <label asp-for="@Model.SearchByStockItemName">Vare</label>
                            <input asp-for="@Model.SearchByStockItemName" id="searchbyitemname" />
                        </div>
                        <div class="icon-beside-input-select">
                            <i id="resetsearchbyitemname" class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-select-room-for-icon">
                            <label asp-for="@Model.SearchByStockItemNumber">Varenummer</label>
                            <input asp-for="@Model.SearchByStockItemNumber" id="searchbyitemnumber" />
                        </div>
                        <div class="icon-beside-input-select">
                            <i id="resetsearchbyitemnumber" class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-select-room-for-icon">
                            <label asp-for="@Model.VendorId">Leverandør</label>
                            <select asp-for="@Model.VendorId" asp-items="@Model.SearchByVendor" id="searchbyvendor" class="custom-select"></select>
                        </div>
                        <div class="icon-beside-input-select">
                            <i id="resetsearchbyvendor" class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-select-room-for-icon">
                            <label asp-for="@Model.category1Id">Kategori 1</label>
                            <select asp-for="@Model.category1Id" asp-items="@Model.SearchByCategory1" id="searchbycategory1" class="custom-select"></select>
                        </div>
                        <div class="icon-beside-input-select">
                            <i id="resetsearchbycategory1" class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-select-room-for-icon">
                            <label asp-for="@Model.category2Id">Kategori 2</label>
                            <select asp-for="@Model.category2Id" asp-items="@Model.SearchByCategory2" id="searchbycategory2" class="custom-select"></select>
                        </div>
                        <div class="icon-beside-input-select">
                            <i id="resetsearchbycategory2" class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-select-room-for-icon">
                            <label asp-for="@Model.category3Id">Kategori 3</label>
                            <select asp-for="@Model.category3Id" asp-items="@Model.SearchByCategory3" id="searchbycategory3" class="custom-select"></select>
                        </div>
                        <div class="icon-beside-input-select">
                            <i id="resetsearchbycategory3" class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </form>
        </div>
    </div>

    

    <div class="row">
        <div class="col-4">
            @if (Model != null)
            {
                @foreach (var stockItem in Model.StockItems)
                {
                    <div class="rowcontainer">
                        <div class="row itemline" id="@stockItem.Id" draggable="true" ondragstart="dragStockItemLine(event)">
                            <div class="col-3">@stockItem.ItemName</div>
                            <div class="col-3">@stockItem.ItemNumber</div>
                            <div class="col-3">@stockItem.Unit</div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-2">

        </div>

        <div class="col-6">


            @if (Model != null)
            {
                @foreach (var periodLine in Model.PeriodLines)
                {
                    <div>@periodLine.HeadLine</div>
                    <div id="@periodLine.Id" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                        Træk hertil
                        <div style="height : 100px" class="col-12">
                            
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {


            var budgetLines = @Html.Raw(Json.Serialize(Model.BudgetLines.ToArray()));

            for (var i = 0; i < budgetLines.length; i++) {
                var htmlStr;

                htmlStr = '<div class="row budgetitemline" id="' + budgetLines[i].id + '" draggable="true" ondragstart="dragPeriodLine(event)">';
                htmlStr = htmlStr + ' <div class="col-2"><input type="text" name="Quantity" class="periodline-input-field" value="' + budgetLines[i].quantityToOrder + '" /></div>';
                htmlStr = htmlStr + '<div class="col-3">' + budgetLines[i].ourItemName + '</div>';
                htmlStr = htmlStr + '<div class="col-3">' + budgetLines[i].ourItemNumber + '</div>';
                htmlStr = htmlStr + '<div class="col-3">' + budgetLines[i].ourItemUnit + '</div>';
                htmlStr = htmlStr + '<div class="col-1 show-quantity-sold">' + '<i style="color : #17a2b8;" class="fa fa-envelope-open fa-fw"></i>' + '</div>';
                htmlStr = htmlStr + '<input type="text" hidden name="periodeDivId" value="' + budgetLines[i].periodLineId + '" />';
                htmlStr = htmlStr + '<input type="text" hidden name="stockItemId" value="' + budgetLines[i].stockItemId + '" />';
                htmlStr = htmlStr + '<div class="quantitysolddiv" style="display:none">';
                htmlStr = htmlStr + '<input type="text" name="quantitySold" readonly value="' + budgetLines[i].quantitySold + '" />';                             
                htmlStr = htmlStr + '</div>';

                // 

                var newDivNode = document.createElement("div");
                newDivNode.innerHTML = htmlStr;

                var periodeDiv = document.getElementById(budgetLines[i].periodLineId);

                var targetCol = periodeDiv.firstElementChild;
                targetCol.appendChild(newDivNode);
            }

            $(document).on('change', '.periodline-input-field', function () {
                var quantity = $(this).val();
                var budgetLineId = $(this).parent().parent().attr("id");

                updateBudgetLineQuantity(budgetLineId, quantity);
            });


            $('#searchbyitemname').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbyitemnumber').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbyvendor').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbycategory1').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbycategory2').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbycategory3').bind('change', function () {
                $("#searchForm").submit();
            });


            $(document).on("click", ".show-quantity-sold", function (event) {

                var budgetLineDiv = $(this).parent();

                var quantitySoldDiv = budgetLineDiv.find("[class='quantitysolddiv']");

                quantitySoldDiv.toggle();


                event.stopImmediatePropagation();
            });

            $(document).on("click", ".fa-times", function (event) {
                var resetFieldId = $(this).attr("id");
                switch (resetFieldId) {
                    case "resetsearchbyitemname":
                        $('#searchbyitemname').val("");
                        break;
                    case "resetsearchbyitemnumber":
                        $('#searchbyitemnumber').val("");
                        break;
                    case "resetsearchbyvendor":
                        $('#searchbyvendor').val("0");
                        break;
                    case "resetsearchbycategory1":
                        $('#searchbycategory1').val("");
                        break;
                    case "resetsearchbycategory2":
                        $('#searchbycategory2').val("");
                        break;
                    case "resetsearchbycategory3":
                        $('#searchbycategory3').val("");
                        break;
                }
                $("#searchForm").submit();
                event.stopImmediatePropagation();
            });


        });


        function allowDrop(ev) {
            ev.preventDefault();
        }

        function dragStockItemLine(ev) {
            ev.dataTransfer.setData("text", ev.target.id + "|" + "1");
        }

        function dragPeriodLine(ev) {
            ev.dataTransfer.setData("text", ev.target.id + "|" + "0");
        }

        function drop(ev) {

            if (!ev.target.classList.contains("periodcontainer")) {
                return;
            }

            ev.preventDefault();

            var data = ev.dataTransfer.getData("text");
            var dataArray = data.split("|");



            if (dataArray[1] == "1") {   // drag and  drop a item line to budget line.

                var stockItemId = dataArray[0];
                var periodLineId = ev.target.getAttribute("id");

                createBudgetLineFromItemLine(stockItemId, periodLineId);
            }

            if (dataArray[1] == "0") {  // drag and  drop a budget line line to new budget line.
                if (ev.ctrlKey) {
                    var sourceBudgetLineId = dataArray[0];
                    var periodLineId = ev.target.getAttribute("id");

                    createBudgetLineFromBudgetLine(sourceBudgetLineId, periodLineId);
                    return;
                }
                else {  // drag and  drop a budget line i.e move
                
                    var sourceBudgetLineId = dataArray[0];
                   
                    var newPeriodLineId = ev.target.getAttribute("id")
                    updateBudgetLinePeriod(sourceBudgetLineId, newPeriodLineId)
                }
            }
        }

        function createBudgetLineFromItemLine(stockItemId, periodLineId) {

            $.ajax({
                type: "POST",
                url: "/purchaseorder/createBudgetLineFromItemLine",
                data: {
                    stockItemId: stockItemId,
                    periodLineId: periodLineId,
                    purchaseBudgetId: $('#PurchaseBudgetId').val()
                },
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    var sourceItemLineDiv = document.getElementById(result.stockItemId);
                    sourceItemLineDiv.remove();

                    var htmlStr;

                    htmlStr = '<div class="row budgetitemline" id="' + result.id + '" draggable="true" ondragstart="dragPeriodLine(event)">';
                    htmlStr = htmlStr + ' <div class="col-2"><input type="text" name="Quantity" class="periodline-input-field" value="' + result.quantityToOrder + '" /></div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemName + '</div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemNumber + '</div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemUnit + '</div>';
                    htmlStr = htmlStr + '<div class="col-1 show-quantity-sold">' + '<i style="color : #17a2b8;" class="fa fa-envelope-open fa-fw"></i>' + '</div>';
                    htmlStr = htmlStr + '<input type="text" hidden name="periodeDivId" value="' + result.periodLineId + '" />';
                    htmlStr = htmlStr + '<input type="text" hidden name="stockItemId" value="' + result.stockItemId + '" />';
                    htmlStr = htmlStr + '<div class="quantitysolddiv" style="display:none">';
                    htmlStr = htmlStr + '<input type="text" name="quantitySold" readonly value="' + result.quantitySold + '" />';
                    htmlStr = htmlStr + '</div>';

                    var newBudgetLine = document.createElement("div");
                    newBudgetLine.innerHTML = htmlStr;

                    var periodeDiv = document.getElementById(result.periodLineId);

                    var targetCol = periodeDiv.firstElementChild;
                    targetCol.appendChild(newBudgetLine);

                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function createBudgetLineFromBudgetLine(sourceBudgetLineId, periodLineId) {

            $.ajax({
                type: "POST",
                url: "/purchaseorder/CreateBudgetLineFromBudgetLine",
                data: {
                    id: sourceBudgetLineId,
                    periodLineId: periodLineId,
                    purchaseBudgetId: $('#PurchaseBudgetId').val()
                },
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var htmlStr;

                    htmlStr = '<div class="row budgetitemline" id="' + result.id + '" draggable="true" ondragstart="dragPeriodLine(event)">';
                    htmlStr = htmlStr + ' <div class="col-2"><input type="text" name="Quantity" class="periodline-input-field" value="' + result.quantityToOrder + '" /></div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemName + '</div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemNumber + '</div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemUnit + '</div>';
                    htmlStr = htmlStr + '<div class="col-1 show-quantity-sold">' + '<i style="color : #17a2b8;" class="fa fa-envelope-open fa-fw"></i>' + '</div>';
                    htmlStr = htmlStr + '<input type="text" hidden name="periodeDivId" value="' + result.periodLineId + '" />';
                    htmlStr = htmlStr + '<input type="text" hidden name="stockItemId" value="' + result.stockItemId + '" />';
                    htmlStr = htmlStr + '<div class="quantitysolddiv" style="display:none">';
                    htmlStr = htmlStr + '<input type="text" name="quantitySold" readonly value="' + result.quantitySold + '" />';
                    htmlStr = htmlStr + '</div>';

                    var newBudgetLine = document.createElement("div");
                    newBudgetLine.innerHTML = htmlStr;

                    var periodeDiv = document.getElementById(result.periodLineId);

                    var targetCol = periodeDiv.firstElementChild;
                    targetCol.appendChild(newBudgetLine);
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function updateBudgetLineQuantity(budgetLineId, Quantity) {

            $.ajax({
                type: "POST",
                url: "/purchaseorder/updateBudgetLineQuantity",
                data: {
                    id: budgetLineId,
                    quantityToOrder: Quantity,
                    purchaseBudgetId: $('#PurchaseBudgetId').val()
                },
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                   
                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }

        function updateBudgetLinePeriod(budgetLineId, newPeriodLineId) {

            $.ajax({
                type: "POST",
                url: "/purchaseorder/updateBudgetLinePeriod",
                data: {
                    id: budgetLineId,
                    periodLineId: newPeriodLineId,                
                    purchaseBudgetId: $('#PurchaseBudgetId').val()
                },
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    var sourceBudgetLineDiv = document.getElementById(result.id);
                    sourceBudgetLineDiv.remove();

                    var htmlStr;

                    htmlStr = '<div class="row budgetitemline" id="' + result.id + '" draggable="true" ondragstart="dragPeriodLine(event)">';
                    htmlStr = htmlStr + ' <div class="col-2"><input type="text" name="Quantity" class="periodline-input-field" value="' + result.quantityToOrder + '" /></div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemName + '</div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemNumber + '</div>';
                    htmlStr = htmlStr + '<div class="col-3">' + result.ourItemUnit + '</div>';
                    htmlStr = htmlStr + '<div class="col-1 show-quantity-sold">' + '<i style="color : #17a2b8;" class="fa fa-envelope-open fa-fw"></i>' + '</div>';
                    htmlStr = htmlStr + '<input type="text" hidden name="periodeDivId" value="' + result.periodLineId + '" />';
                    htmlStr = htmlStr + '<input type="text" hidden name="stockItemId" value="' + result.stockItemId + '" />';
                    htmlStr = htmlStr + '<div class="quantitysolddiv" style="display:none">';
                    htmlStr = htmlStr + '<input type="text" name="quantitySold" readonly value="' + result.quantitySold + '" />';
                    htmlStr = htmlStr + '</div>';

                    var newBudgetLine = document.createElement("div");
                    newBudgetLine.innerHTML = htmlStr;

                    var periodeDiv = document.getElementById(result.periodLineId);

                    var targetCol = periodeDiv.firstElementChild;
                    targetCol.appendChild(newBudgetLine);

                },

                error: function (request, status, error) {
                    var jsonErrorObj = request.responseJSON
                    var errorText = jsonErrorObj.Detail;
                    var errorTitle = jsonErrorObj.Title;
                    var errorInstance = jsonErrorObj.Instance;
                    location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
                }
            });
        }


    </script>
}
