@model SearchPurchaseOrderViewModel

    <div class="formcontainer">
        <div class="tableheadline">
            Indkøbsordrer
        </div>
        <form id="searchForm" asp-controller="PurchaseOrder" asp-action="Index" method="get">
            <div class="form-row">
                <div class="col-2">
                    <label asp-for="@Model.ReceivedStatus">Modtaget status</label>
                    <select asp-for="@Model.ReceivedStatus" asp-items="@Model.SearchByReceivedStatus" id="searchbyreceivedstatus" class="custom-select"></select>
                </div>
                <div class="col-2">
                    <label asp-for="@Model.VendorId">Leverandør</label>
                    <select asp-for="@Model.VendorId" asp-items="@Model.SearchByVendor" id="searchbyvendor" class="custom-select"></select>
                </div>
                <div class="col-2">
                    <label asp-for="@Model.PurchaseDocumentNumber">Indkøbsordre nr.</label>
                    <select asp-for="@Model.PurchaseDocumentNumber" asp-items="@Model.SearchByPurchaseDocumentNumber" id="searchbyPOdocumentno" class="custom-select"></select>
                </div>
                <div class="col-2">
                    <label for="searchfromdatepicker">Fra dato</label>
                    <input asp-for="@Model.SearchFromDate" id="searchfromdatepicker" class="PurchaseOrderInput" />
                </div>
                <div class="col-2">
                    <label for="searchtodatepicker">Til dato</label>
                    <input asp-for="@Model.SearchToDate" id="searchtodatepicker" class="PurchaseOrderInput" />
                </div>
                <div class="col-2">
                    <a asp-controller="PurchaseOrder" asp-action="CreatePO" class="btn btn-info btn-lg">Opret</a>
                </div>
            </div>
            <br />
            <br />
        </form>

        @if (Model != null)
        {
            if (Model.PurchaseOrdersViewLines.Count > 0)
            {
                <div class="rowcontainer">
                    <div class="row">
                        <div class="col-3">Leverandør</div>
                        <div class="col-2">Orderdato</div>
                        <div class="col-2">Modtaget status</div>
                        <div class="col-2">Sendt til lev.</div>
                        <div class="col-2">Indkøbsordre nr.</div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
                @foreach (var purchaseOrder in Model.PurchaseOrdersViewLines)
                {
                    <div class="rowcontainer">
                        <div class="row" id="@purchaseOrder.Id">
                            <div class="col-3">@purchaseOrder.VendorName</div>
                            <div class="col-2">@purchaseOrder.OurOrderingDate</div>
                            <div class="col-2">@purchaseOrder.ReceivedStatus</div>
                            <div class="col-2">@purchaseOrder.SendToVendorDate</div>
                            <div class="col-2">@purchaseOrder.PurchaseOrderDocumentNumber</div>
                            <div class="col-1">
                                <a asp-controller="PurchaseOrder" asp-action="EditPO" asp-route-purchaseOrderId="@purchaseOrder.Id">Rediger</a>
                                <a asp-controller="PurchaseOrder" asp-action="receivePurchaseOrder" asp-route-purchaseOrderId="@purchaseOrder.Id">Modtag</a>
                                <a asp-controller="PurchaseOrder" asp-action="Delete" asp-route-purchaseOrderId="@purchaseOrder.Id">Slet</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="rowcontainer">
                    <div class="row">
                        <div class="col-3">
                            Ingen indkøbsordrer fundet
                        </div>
                    </div>
                </div>
            }
        }


        <br />
        <br />
        <div class="form-row">
            <div class="col-4">

                @Html.PagedListPager(Model.PurchaseOrdersViewLines, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                    LinkToFirstPageFormat = "<< Første",
                    LinkToPreviousPageFormat = "< Forrige",
                    LinkToNextPageFormat = "Næste >",
                    LinkToLastPageFormat = "sidste >>"
                })
            </div>

        </div>

    </div>
@section Scripts {
    <script>


        $(document).ready(function () {

            $("#searchfromdatepicker").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-Y'
            });


            $("#searchtodatepicker").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-Y'
            });

            $('#searchbyreceivedstatus').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbyvendor').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchbyPOdocumentno').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchfromdatepicker').bind('change', function () {
                $("#searchForm").submit();
            });

            $('#searchtodatepicker').bind('change', function () {
                $("#searchForm").submit();
            });

        });
    </script>
}