
@{
    Layout = "_LayoutAnonymousMenu";
}

@model WedigITCRM.Controllers.PaymentController.SelectNyxiumSubscriptionViewModel




<div class="top ">
    <section class="cover_content cover_content-nogrid">

        <h1>Spiselige priser</h1>
        <p class="subheading">
            Nedenfor kan du se de 3 abonnementstyper som nyxium tilbydes i.<br />
            Første måned er gratis og du får den fulde Business-pakke i prøveperioden.
        </p>




        <article class="price">
            @{
                string[] jpegValues = { "price-circle-purple.jpg", "price-circle-green.jpg", "price-circle-blue.jpg" };
                string[] paragraphColors = { "type purple", "type green", "type blue" };
                string[] submitButtonColor = { "btn btn-fullwidth purple-bg", "btn btn-fullwidth", "btn btn-fullwidth blue-bg" };

                int counter = 0;
            }

            @foreach (var subscriptionType in @Model.NyxiumSubscriptions)
            {
                counter++;

                string elementIdentifyClass = subscriptionType.ReepaySubscriptionPlanHandle;



                int index = counter % 3;

                <div class="price-box">

                    <input name="NumberOfApplicationInSubsription" type="text" value="@subscriptionType.NumberOfNyxiumModules" class="@elementIdentifyClass" hidden />

                    <p class="@paragraphColors[index]">@subscriptionType.Name</p>
                    <p class="pprice">@subscriptionType.price</p>
                    <p class="pprice">plus moms pr. md.</p>
                    <p class="description">@subscriptionType.Description</p>

                    <p class="features"><img src="/frontpage/img/jpgs/@jpegValues[index]">Gratis oprettelse</p>
                    <p class="features"><img src="/frontpage/img/jpgs/@jpegValues[index]">Ubegrænset antal brugere</p>


                    @if (@subscriptionType.NumberOfNyxiumModules == 1)
                    {
                        <p class="features"><img src="/frontpage/img/jpgs/@jpegValues[index]">@subscriptionType.NumberOfNyxiumModules applikation</p>
                    }
                    else
                    {
                        @if (@subscriptionType.NumberOfNyxiumModules == -1)
                        {
                            <p class="features"><img src="/frontpage/img/jpgs/@jpegValues[index]">Alle applikationer</p>
                        }
                        else
                        {
                            <p class="features"><img src="/frontpage/img/jpgs/@jpegValues[index]">@subscriptionType.NumberOfNyxiumModules applikationer</p>
                        }
                    }

                    <p style="color:red;" class="description @elementIdentifyClass"></p>

                </div>
            }
        </article>

    </section>
</div>




<section class="get-started container-eb text-center pb50">
    <div class="headerh2icon">
        <img src="/frontpage/img/pngs/icons/bg-rocket.png" alt="rocket-icon" loading="lazy">
        <h2>Kom i gang med at bruge nyxium i dag</h2>
    </div>

    <p>Gratis oprettelse, gratis prøveperiode og ingen binding - Hvad skulle holde dig tilbage?</p>
    <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
</section>


